.main {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text {
    position: absolute;
    bottom: -50px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    background-image: linear-gradient(to right, #ffa9dd 10%, #aa77fe 90%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .anim_wrapper {
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
  }

  svg {
    z-index: 100;
  }

  .circle {
    position: absolute;
    right: -34px;
    top: -30px;
    width: 227px;
    height: 227px;
    background: #432B4F;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .remove {
      background: var(--bg-primary);
      width: 199px;
      height: 199px;
      border-radius: 100%;
      z-index: 1;
    }
  }
}

.spinner {
  animation: rotate 2s linear infinite;
  position: absolute;
  width: 266px;
  height: 266px;

  & .path {
    stroke: #da93eb;
    stroke-linecap: round;
    animation: dash 5.5s ease infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 150, 150;
    stroke-dashoffset: -124;
  }
}