.container {
  display: flex;
  padding: 0 8px;
  flex-direction: column;
  position: relative;
  min-height: 100vh;

  .head {
    display: flex;
    border-bottom: 1px solid #181818;
    gap: 20px;
    padding: 14px 0;
    position: sticky;
    top: 0;

    .btn {
      background: transparent;
      border: none;
      rotate: 180deg;
      color: var(--text-neitral-secondary)
    }

    .headInfo {
      display: flex;
      gap: 16px;
      align-items: center;

      img {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        object-fit: cover;
      }

      .info {
        display: flex;
        flex-direction: column;

        .title {
          font-size: 22px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: -0.5px;
          color: var(--text-neitral-secondary)
        }

        .count {
          font-size: 10px;
          font-weight: 400;
          line-height: 10px;
          letter-spacing: -0.5px;
          text-align: left;
          color: var(--text-neitral-secondary)
        }
      }

    }
  }

  .chat_area {
    height: calc(100vh - 150px);
    position: relative;
  }

  .input {
    position: fixed;
    width: 90%;
    bottom: 80px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .send_btn {
    background: var(--primary);
    width: 45px;
    height: 35px;
    border-radius: 35px;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover, &:active {
      transform: scale(0.98);
    }
  }

  .chat {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 16px;
    gap: 20px;
    height: 80%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--primary);
    }


    .item {
      display: flex;
      gap: 16px;

      .img {
        min-width: 30px;
        min-height: 30px;
        max-width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
      }

      .msg {
        display: flex;
        flex-direction: column;
        background-color: var(--neitral-primary);
        padding: 8px 8px 18px 8px;
        border-radius: 8px;

        .name {
          font-size: 12px;
          font-weight: 510;
          line-height: 14px;
          letter-spacing: -0.5px;
          color: var(--text-neitral-primary);
        }

        .text {
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          color: var(--text-neitral-primary);
        }
      }

      .my {
        background-color: #902EEF;

        .text {
          color: white;
        }
      }
    }

    .myMsg {
      align-self: flex-end;
      flex-direction: row-reverse;
    }
  }

  .tabBar {
    position: fixed;
  }
}