.wrapper {
  width: 100%;
  position: relative;
  display: flex;
}

.textarea {
  background: var(--neitral-primary);
  padding: 10px 16px;
  border-radius: 10px;
  caret-color: #0A84FF;
  color: var(--text-neitral-primary);
  line-height: 1.1em;
  resize: none;
  height: 80px;
  overflow: auto;
  word-break: break-all;
  font-size: 17px;


  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &::placeholder {
    color: var(--text-neitral-secondary);
  }
}
