.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 17px;
}

.input {
  background: var(--neitral-primary);
  padding: 0 10px;
  caret-color: #0A84FF;
  width: 100%;
  color: var(--text-neitral-primary);

  &::placeholder {
    color: var(--text-neitral-secondary);
  }
}

.label {
  min-width: 90px;
  color: var(--text-neitral-primary);
}

.closeTag {
  position: absolute;
  top: 65%;
  transform: translateY(-65%);
  right: 10px;
  padding: 5px;
}