.container {
  padding: 8px;

  .bg {
    position: absolute;
    width: 430px;
    height: 170px;
    top: 0;
    right: 0;
    z-index: -1;
    filter: var(--filter-bg);
  }

  .title {
    padding: 16px 8px;
    border-bottom: 1px solid var(--separator);
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: var(--text-neitral-primary);
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 70px * 2);

    .events {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  .tabBar {
    position: fixed;
  }
}