.container {
  display: flex;
  justify-content: center;
  gap: 32px;
  height: 70px;
  position: absolute;
  padding: 12px 10px 0px;
  bottom: -10px;
  background: black;
  border-top: 1px solid #181818;
  border-bottom: 1px solid #181818;
}