.list {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--neitral-primary);
  gap: 11px;
  padding: 8px;

  .disabled {
    opacity: 0.5;
  }

  .item {
    display: flex;
    gap: 8px;
    box-sizing: border-box;
    align-items: center;

    svg {
      width: 36px;
      height: 36px;
    }

    .text {
      display: flex;
      justify-content: space-between;
      padding-bottom: 6px;
      width: 100%;
      border-bottom: 1px solid var(--separator);
      color: var(--text-neitral-primary);;
      font-size: 17px;
      font-weight: 400;
      line-height: 32px;
      align-items: center;
    }

    .borderNone {
      border: none;
      padding-bottom: 0;
    }

    .secondary {
      font-size: 14px;
      color: var(--text-neitral-primary);
    }

    .special {
      display: flex;
      background: var(--black);
      border-radius: 14px;
      height: 26px;
      width: fit-content;
      padding: 6px 6px 6px 10px;
      gap: 4px;

      svg {
        width: 14px;
        height: 14px;
      }

      .specialText {
        font-size: 13px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.5px;
        color: #000000;
      }
    }
  }
}