.container {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  backdrop-filter: blur(1px);
  background: linear-gradient(rgba(68, 68, 68, 0.3) 70%, rgba(68, 68, 68, 0.02));

  .nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    .item {
      position: relative;
      color: rgba(255, 255, 255, 0.81);
      font-size: 14px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: -0.5px;
      list-style: none;
    }

    .selected {
      color: #FFFFFF;
    }

    .underline {
      position: absolute;
      bottom: -8px;
      left: 0;
      right: 0;
      height: 2px;
      background: #FFFFFF;
    }
  }
}