.container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 100%;

  .info {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.735) 56.5%, #000000 100%);
    position: absolute;
    bottom: 0;
    padding: 8px;
    gap: 12px;
    transition: .3s ease;

    .titleContainer {
      display: flex;
      gap: 12px;
      .title {
        font-size: 32px;
        color: #FFFFFF;
      }
    }

    .chips {
      display: flex;
      gap: 4px;
    }

    .text {
      color: #C1C1C1;
    }
  }

  .img {
    width: 100%;
    object-fit: contain;
  }

  .btnContainer {
    display: flex;
    gap: 8px;
    padding: 8px;
    color: #747474;
  }
}