@font-face {
  font-family: 'SFPRODISPLAY';
  src: url('SFPRODISPLAYBLACKITALIC.OTF');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SFPRODISPLAYBOLD';
  src: url('SFPRODISPLAYBOLD.OTF');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SFPRODISPLAYHEAVYITALIC';
  src: url('SFPRODISPLAYHEAVYITALIC.OTF');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SFPRODISPLAY';
  src: url('SFPRODISPLAYLIGHTITALIC.OTF');
  font-weight: normal;
  font-style: italic;
}