.button {
  padding: 12px 16px;
  border: none;
  font: inherit;
  color: inherit;
  //background-color: transparent;
  background: #1C1C1E;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: all .4s;
  gap: 8px;

  &:active {
    scale: 1.008;
  }
}

.primary {
  background: #B46EFF;
  color: #FFFFFF;
}

.default {
  color:#000000;
  padding: 6px 10px;
  width: fit-content;
  background: #FFFFFFE5;
  font-size: 14px;
}
