.button {
  padding: 12px 16px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: all .4s;

  &:active {
    scale: 1.008;
  }
}

.primary {
  background: #B46EFF;
  color: #000000;
}
