.container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100vw;

  .info {
    color: var(--text-neitral-primary);
    text-align: center;
    line-height: 16px;
  }
}