.main {
  border-top: 1px solid var(--separator);
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: sticky;
  bottom: 0;
  width: 100vw;
  padding: 16px 16px 8px 8px;
  background: var(--bg-primary);

  .value {
    color: #902EEF;
  }

  .title {
    font-size: 20px;
    color: var(--text-neitral-primary);
  }

  .step {
    font-size: 20px;
    color: var(--text-neitral-primary);
  }

  .title_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .progressbar {
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background: var(--neitral-primary);
    position: relative;
    overflow: hidden;
  }

  .progress {
    transition: all .3s ease;
    position: absolute;
    width: 20%;
    height: 8px;
    background: #B46EFF;
    border-radius: 4px;
  }
}